---
import Header from 'components/Header/index'

export interface Props {
	className?: string,
	title: string
}

const {
	className = '',
	title
} = Astro.props
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/favicon.png" rel="icon">
	<title>{title}</title>
</head>
<body class="bg-[#0F0F0F] text-white">
	<Header/>
	<main class={`max-w-[1754px] px-4 mx-auto ${className}`}>
		<slot/>
	</main>
</body>
</html>